name: maintenance

on:
  schedule:
    - cron:  '42 7 * * *'

  workflow_dispatch:

jobs:
  maintenance:
    runs-on: ubuntu-latest

    steps:
      - name: Delete Older Releases
        uses: dev-drprasad/delete-older-releases@v0.2.1
        with:
          keep_latest: 10
          delete_tags: true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}